---
import Delimiter from "@layouts/Delimiter.astro";
import Input from "../../../../components/global/fields/Input.astro";
import Select from "../../../../components/global/fields/Select.astro";
import Textarea from "src/components/global/fields/Textarea.astro";
import MainButton from "src/components/global/MainButton.astro";
import MapPinIcon from "@icons/MapPinIcon.astro";
import PhoneIcon from "@icons/PhoneIcon.astro";
import MailIcon from "@icons/MailIcon.astro";
import ContactInfoCard from "./ContactInfoCard.astro";
import WhatsappIcon from "@icons/WhatsappIcon.astro";
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<Delimiter
  className={`flex flex-col lg:flex-row lg:items-start lg:justify-between gap-8 ${className}`}
>
  <form class="w-full flex-1">
    <h2 class="text-4xl md:text-5xl font-bold md:leading-[3rem] mb-5">
      Agenda una <span class="text-harvest-gold-600">cita</span>
    </h2>
    <p class="text-black-600 max-w-[800px] sm:text-lg md:text-xl mb-10 lg:mb-14">
      Nuestros agentes están listos para ayudarte en todo lo que necesites,
      agenda una cita y te ayudaremos a encontrar la mejor solución para tus
      necesidades.
    </p>
    <div class="flex flex-col gap-6 mb-8">
      <Input id="name" label="Nombre" />
      <Input id="phone" type="tel" label="Teléfono" />
      <Input id="email" type="email" label="Correo electrónico" />
      <Select
        id="clientType"
        label="Tipo de cliente"
        options={[
          { value: "particular", label: "Particular" },
          { value: "inversionista", label: "Inversionista" },
        ]}
      />
      <Select
        id="purpose"
        label="Objetivo de la cita"
        options={[
          { value: "vender", label: "Vender" },
          { value: "rentar", label: "Rentar" },
          { value: "comprar", label: "Comprar" },
          { value: "asesoria", label: "Asesoría" },
          { value: "otro", label: "Otro" },
        ]}
      />
      <Textarea id="message" label="Comentario adicional" />
    </div>
    <MainButton text="Agendar ahora" />
  </form>
  <div class="grid gap-4 sticky top-32">
    <ContactInfoCard title="Ubicación">
      <MapPinIcon slot="header-icon" />
      <p>21102 San Pedro Sula, Cortés</p>
      <p>Barrio los Andes, 15 y 16 Avenida, 7 Calle A</p>
      <a
        class="font-semibold lg:hover:pl-2 transition-[padding] ease-in-out"
        href="https://goo.gl/maps/2sgozwHRp9W3FsNQ8"
        target="_blank"
        rel="noopener noreferrer"
      >
        ver mapa
      </a>
    </ContactInfoCard>
    <ContactInfoCard title="Teléfonos">
      <PhoneIcon slot="header-icon" />
      <a
        class="lg:hover:pl-2 transition-[padding] ease-in-out"
        href="tel:+5042550-0833"
        target="_blank"
        rel="noopener noreferrer"
      >
        +(504) 2550 0833
      </a>
      <a
        class="lg:hover:pl-2 transition-[padding] ease-in-out"
        href="tel:+5049452-9498"
        target="_blank"
        rel="noopener noreferrer"
      >
        +(504) 9452 9498
      </a>
      <a
        class="lg:hover:pl-2 transition-[padding] ease-in-out"
        href="tel:+5049784-2424"
        target="_blank"
        rel="noopener noreferrer"
      >
        +(504) 9784 2424
      </a>
    </ContactInfoCard>
    <ContactInfoCard title="Chat">
      <WhatsappIcon slot="header-icon" />
      <a
        class="lg:hover:pl-2 transition-[padding] ease-in-out"
        href="https://wa.me/50494529498"
        target="_blank"
        rel="noopener noreferrer"
      >
        +(504) 9452 9498
      </a>
      <a
        class="lg:hover:pl-2 transition-[padding] ease-in-out"
        href="https://wa.me/50497842424"
        target="_blank"
        rel="noopener noreferrer"
      >
        +(504) 9784 2424
      </a>
    </ContactInfoCard>
    <ContactInfoCard title="Correos">
      <MailIcon slot="header-icon" />
      <a
        class="lg:hover:pl-2 transition-[padding] ease-in-out"
        href="mailto:inmobiliariazuniga@gmail.com"
      >
        inmobiliariazuniga@gmail.com
      </a>
      <a
        class="lg:hover:pl-2 transition-[padding] ease-in-out"
        href="mailto:gerencia.inmobiliariazuniga@gmail.com"
      >
        gerencia.inmobiliariazuniga@gmail.com
      </a>
    </ContactInfoCard>
  </div>
</Delimiter>
