@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/avenir-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/avenir-light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/avenir-book.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/avenir-heavy.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/avenir-black.ttf");
  font-weight: 900;
}

* {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 128px;
}

html:root {
  --swiper-theme-color: white;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}
.swiper {
  user-select: none;
}
.swiper-pagination {
  transition: transform 0.2s ease-in-out !important;
}
.swiper-pagination:hover {
  transform: scale(1.1);
}

input,
select,
textarea {
  outline: none;
}

select {
  appearance: none;
  background: transparent;
}

textarea {
  resize: none;
}

.iti {
  width: 100%;
}

.iti--inline-dropdown .iti__dropdown-content {
  width: 350px !important;
  z-index: 1000 !important;
  @apply mt-2 border border-black-800/50 shadow-none;
}

.iti__selected-country-primary:hover,
.iti__selected-country:has(+ .iti__dropdown-content:hover)
  .iti__selected-country-primary {
  background-color: transparent !important;
}

.iti__country-list {
  overflow-y: auto;
  scrollbar-color: #c58700 transparent;
}

.iti--inline-dropdown .iti__dropdown-content .iti__search-input {
  @apply p-4 text-sm;
}
.iti__country-list .iti__country .iti__country-name {
  @apply text-sm text-black-800;
}
.iti__country-list .iti__country .iti__dial-code {
  @apply text-sm text-black-300;
}
.iti__country-list .iti__country .iti__dial-code::before {
  content: "(";
}
.iti__country-list .iti__country .iti__dial-code::after {
  content: ")";
}

.backdrop-fade-in {
  animation: backdropFadeIn 300ms ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}
.backdrop-fade-out {
  animation: backdropFadeOut 300ms ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}

@keyframes backdropFadeIn {
  0% {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
  }
}

@keyframes backdropFadeOut {
  0% {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
  }
}
