---
import Layout from "../layouts/Layout.astro";
import { meta } from "../lib/constants/meta";
---

<Layout
    title={meta.contactanos.title}
    description={meta.contactanos.description}
    keywords={meta.contactanos.keywords}
>
    <main>
        <p>contactanos</p>
    </main>
</Layout>
