---
import Layout from "../layouts/Layout.astro";
import { meta } from "../lib/constants/meta";
---

<Layout
    title={meta.politicas.title}
    description={meta.politicas.description}
    keywords={meta.politicas.keywords}
>
    <main>
        <p>Politicas de privacidad</p>
    </main>
</Layout>
