---
import Layout from "../layouts/Layout.astro";
import { meta } from "../lib/constants/meta";
---

<Layout
    title={meta.propiedades.title}
    description={meta.propiedades.description}
    keywords={meta.propiedades.keywords}
>
    <main>
        <p>Propiedades</p>
    </main>
</Layout>
