---
import Layout from "../layouts/Layout.astro";
import { meta } from "../lib/constants/meta";
---

<Layout
    title={meta.proyectos.title}
    description={meta.proyectos.description}
    keywords={meta.proyectos.keywords}
>
    <main>
        <p>Proyectos</p>
    </main>
</Layout>
