---
import { PropertyStates, PropertyStatesDisplayName } from "@lib/enums";

interface Props {
  propertyState: PropertyStates;
}

const { propertyState } = Astro.props;
---

<span
  class="absolute z-10 top-4 right-4 text-white bg-black-950/80 px-3 py-1 rounded-lg uppercase text-xs font-semibold"
>
  {PropertyStatesDisplayName[propertyState]}
</span>
