---
interface Props {
    className?: string;
    id?: string;
}
const { className, id } = Astro.props;
---

<section class={`px-3 w-full max-w-[1500px] mx-auto ${className}`} id={id}>
    <slot />
</section>
